extends ../components/base/layout

block variables
  - const title = "404JazzPayOlga" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "404.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    .page-container
      .page-container__wrapper
        h1
          | Ой!
          br
          | страница не найдена
        p.page-container__text мы обязательно разберемся куда она пропала
        a(href="/").page-container__link
          span вернуться в лк
          +icon("icon-arrow", 24, 24)
