// @font-face {
//   font-style: normal;
//   font-weight: 400;
//   font-family: "Rouble";

//   font-display: swap;
//   src:
//     url("../fonts/rouble.woff2") format("woff2"),
//     url("../fonts/rouble.woff") format("woff");
// }

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "UniSans";

  font-display: swap;
  src: url("../fonts/Uni_Sans_Heavy.woff2") format("woff2"),
    url("../fonts/Uni_Sans_Heavy.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 250;
  font-family: "UniSans";

  font-display: swap;
  src: url("../fonts/Uni_Sans_Thin.woff2") format("woff2"),
    url("../fonts/Uni_Sans_Thin.woff") format("woff");
}
