doctype html

include ../components

block variables

html(lang="ru")
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    meta(name="description" content="Ой! Cтраница не найдена")
    //- генерируйте favicon тут - https://realfavicongenerator.net/
    //- в подключение фавикон манифеста обязательно добавьте строчки crossorigin="use-credentials"
    <link rel="apple-touch-icon" sizes="180x180" href="image/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest" crossorigin="use-credentials">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    //- используйте только для шрифта находящегося на первом экране
    //- link(rel="preload" href="fonts/placeholder.woff2" as="font" crossorigin="anonymous")
    link(rel="stylesheet" href="css/style.min.css")

  body
    +sprite()
    .wrapper(class=wrapperMods)
      block main
    script(src="js/main.min.js")
